Set the hosts and volumes MinIO uses at startup
The command uses MinIO expansion notation {x...y} to denote a
sequential series.

The following example covers four MinIO hosts
with4 drives each at the specified hostname and drive locations.
The command includes the port that each MinIO server listens on
(default 9000)

MINIO_VOLUMES="{% for index in range(minio_pool_count) %}https://{{ minio_name }}{% raw %}{{% endraw %}{{loop.index-1 }}1...{{ loop.index-1 }}{{ groups['minio"{{loop.index-1 }}"'] | length }}{% raw %}}{% endraw %}.{{ your_domain }}:9000/minio/data{1...4}/minio {% endfor %}"

Erasure code configuration.
Standard storage class - parity disk (4 - default value).
REDUCED REDUNDANCY storage clas, less than STANDARD Parity, if it is set (1 - default value).

MINIO_STORAGE_CLASS_STANDARD=EC:4
MINIO_STORAGE_CLASS_RRS=EC:1

Set all MinIO server options

The following explicitly sets the MinIO Console listen address to
port 9001 on all network interfaces. The default behavior is dynamic
port selection.

MINIO_OPTS="--console-address :9001"

Set the root username. This user has unrestricted permissions to
perform S3 and administrative API operations on any resource in the
deployment.

Defer to your organizations requirements for superadmin user name.

MINIO_ROOT_USER="{{ minio_admin }}"

Set the root password

Use a long, random, unique string that meets your organizations
requirements for passwords.

MINIO_ROOT_PASSWORD="{{ minio_admin_pass }}"

Set to the URL of the load balancer for the MinIO deployment
This value *must* match across all MinIO servers. If you do
not have a load balancer, set this value to to any *one* of the
MinIO hosts in the deployment as a temporary measure.

MINIO_SERVER_URL="https://{{ minio_name }}.{{ your_domain }}:9000"

You can change prometheus URL on you instance
MINIO_PROMETHEUS_URL="http://{{ minio_name }}01.mlg.ru:9090"
MINIO_PROMETHEUS_JOB_ID="{{ minio_name }}-job"
MINIO_PROMETHEUS_AUTH_TYPE="public"